@import '../Variables.scss';

.board {
  position: relative;

  .modal {
    background-color: rgba($ui-black, .95);
    height: 100vh;
    position: absolute;
    transition: all 0.3s ease;
    transform: translateY(-100vh);
    width: 100%;
    z-index: 1;
    
    &.open {
      transform: none;
    }

    .winner {
      font-family: raustila;
      font-size: 5em;
      left: 50%;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);

      &.user {
        color: $ui-yellow;
      }

      &.computer {
        color: $ui-blue;
      }

      &.draw {
        color: $ui-white;
      }

      button {
        bottom: -60px;
        color: $ui-white;
        font-family: open_sanslight;
        font-size: 0.200em;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
      }
    }

    .validation {
      background-color: rgba($ui-red, 0.3);
      border: 1px solid $ui-red;
      margin-bottom: 1em;
      padding: 1em;
    }
  }

  h1 {
    border-bottom: 1px solid $ui-dark-grey;
    margin-bottom: 1em;

    .board-name {
      background-color: $ui-dark-grey;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      color: $ui-light-grey;
      font-size: 0.333em;
      left: 19%;
      margin: 0 auto;
      position: absolute;
      padding: 5px 10px;
      right: 19%;
      top: 60px;
    }
  }

  .action-panel {
    border-bottom: 1px solid $ui-dark-grey;
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;

    button {
      margin-left: 0.5em;
      width: 10em;
      
      &:first-child {
        margin-left: 0;
      }
    }
  }

  .map {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 31em;
  }
}