@import '../Variables.scss';

.board {
  position: relative;

  .modal {
    background-color: rgba($ui-black, .7);
    height: 100vh;
    position: absolute;
    transition: all 0.3s ease;
    transform: translateY(-100vh);
    width: 100%;
    z-index: 1;
    
    &.open {
      transform: none;
    }
  }

  h1 {
    border-bottom: 1px solid $ui-dark-grey;
    margin-bottom: 1em;

    .board-name {
      background-color: $ui-dark-grey;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      color: $ui-light-grey;
      font-size: 0.333em;
      left: 19%;
      margin: 0 auto;
      position: absolute;
      padding: 5px 10px;
      right: 19%;
      top: 60px;
    }
  }

  .action-panel {
    border-bottom: 1px solid $ui-dark-grey;
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;

    button {
      margin-left: 0.5em;
      width: 10em;
      
      &:first-child {
        margin-left: 0;
      }
    }
  }

  .map {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
  }
}