@import '../../Variables.scss';

.cell {
  border-right: 1px solid $ui-dark-grey;
  border-bottom: 1px solid $ui-dark-grey;
  cursor: pointer;
  flex-grow: 1;
  padding-top: 33.333%;
  position: relative;
  width: 33.333%;
  
  &:nth-child(3),
  &:nth-child(6),
  &:nth-child(9) {
    border-right: 0;
  }

  &:nth-child(7),
  &:nth-child(8),
  &:nth-child(9) {
    border-bottom: 0;
  }

  &.cell-user::before,
  &.cell-computer::before {
    bottom: 0;
    font-family: FontAwesome;
    font-size: 20vw;
    font-style: normal;
    font-weight: normal;
    left: 0;
    line-height: 25vw;
    text-decoration: inherit;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
  }

  &.cell-user::before {
    color: $ui-yellow;
    content: "\f00d";
  }
  
  &.cell-computer::before {
    color: $ui-blue;
    content: "\f10c";
  }
}