@import '../Variables.scss';

.home {

  h1 {
    font-size: 4em;
    padding-top: 1em;
  }

  .menu {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    
    a {
      border-top: 1px solid $ui-dark-grey;
      display: block;
      font-size: 2em;
      margin-top: 0.5em;
      text-align: center;
  
      &:first-child {
        border: 0;
        margin-top: 0;
      }
    }
  }
}