@import './Normalize.scss';
@import './Functions.scss';
@import './Fonts.scss';
@import './Variables.scss';

body {
  color: $default-font-color;
  font-family: $default-font, Arial, Helvetica, sans-serif;
  font-size: $default-font-size;
  line-height: $default-line-height;
}

h1 {
  font-size: 3em;
  margin: 0;
  text-align: center;
}

a {
  color: $ui-white;

  &:hover {
    color: $ui-light-grey;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input {
  background-color: $ui-dark-grey;
  border: 0;
  height: 2em;
  padding: 0 0.5em;
  
  &:hover,
  &:active,
  &:focus {
    background-color: lighten($ui-dark-grey, 10%);
  }
}

button {
  background-color: $ui-dark-blue;
  border: 0;
  height: 2em;
  
  &:hover {
    background-color: lighten($ui-dark-blue, 10%);
  }
}

#app {
  background-color: $ui-black;
  height: 100vh;
  position: relative;
}

.regular {
  font-family: 'open_sansregular';
}

.bold {
  font-family: 'open_sansbold';
}
