// colors
$ui-white: #FFFFFF;
$ui-black: #000000;
$ui-light-grey: #8e8e8e;
$ui-dark-grey: #252525;
$ui-blue: #97bddb;
$ui-dark-blue: #3f4f5b;
$ui-yellow: #fce47c;
$ui-red: #cc5858;

// basic settings
$default-font: "open_sanslight";
$default-font-size: 14px;
$default-font-color: $ui-white;
$default-line-height: 1.42857143;